body{
  font-family: Arial,sans-serif;
  background: #f5f5f5;
}

h1{
  background: #222;
  color: white;
  padding: 15px;
}

input{
  margin: 15px;
  padding: 10px;
  width: 90%;
  max-width: 400px;
}

.container{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  padding: 15px;
}

.card{
  background: white;
  padding: 15px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}